[Unit]
Description=Mongodb Express A GUI Tool for mongodb
Requires=mongodb.service
After=network.target

[Service]
Type=simple
Environment=NVM_DIR=/opt/mongodb_express/.nvm 
Environment=VCAP_APP_PORT=7180
Environment=VCAP_APP_HOST=127.0.0.1
User=mongodb_express
WorkingDirectory=/opt/mongodb_express/node_modules/mongo-express
ExecStart=/bin/bash -l -c 'exec "$@"' _ node app.js
#Restart=on-failure

[Install]
WantedBy=multi-user.target