[Unit]
Description=Mongodb Express A GUI Tool for mongodb
After=network.target

[Service]
Type=simple
Environment=NVM_DIR=/opt/mongodb_express/.nvm
User=mongodb_express
RootDirectory=/opt/mongodb_express
WorkingDirectory=/node_modules/mongodb-express
ExecStart=/bin/bash -l -c 'exec "$@"' _ node app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target