[Unit]
Description=A node site for username {{username}}
After=network.target

[Service]
Type=simple
Environment=NVM_DIR=/var/www/home/{{username}}/.nvm
User={{username}}
RootDirectory=/var/www/
WorkingDirectory=/home/{{username}}/www
ExecStart=/bin/bash -l -c 'exec "$@"' _ node app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target