[mysqld]
max_connections=24
connect_timeout=10
wait_timeout=10
thread_cache_size=24
sort_buffer_size=1M
join_buffer_size=1M
tmp_table_size=8M
max_heap_table_size=8M
binlog_cache_size=8M
performance_schema=ON
binlog_stmt_cache_size=8M
key_buffer_size=1M
table_open_cache=64
read_buffer_size=1M
# Removed in MySQL 8
#query_cache_limit=1M
#query_cache_type=OFF
#query_cache_size=0
innodb_buffer_pool_size=8M
innodb_open_files=1024
innodb_io_capacity=1024
innodb_buffer_pool_instances=1
default-storage-engine=InnoDB
skip-name-resolve
max_allowed_packet=128M
